main {
    margin: 0 auto 1.5rem;
    max-width: 600px;
    text-align: center;
}

main form {
    display: inline-block;
}

#result {
    margin: 2rem 0 0 0;
    background-color: black;
    padding: 6px;
    overflow: scroll;
    width: 300px;
    text-align: left;
}