<!DOCTYPE html>
<html>
    <head>
        <title>Story - {{.title}}</title>
        <link rel="stylesheet" type="text/css" href="/static/site.css"/>
    </head>
    <body>
        <div class="page">
            <h1>{{.title}}</h1>
            {{ range .story }}
            <p>{{.}}</p> 
            {{end}}
            {{ if (gt (len .options) 0) }}
            <h2>Options</h2>
            <ul>
                {{ range .options }}
                <li><a href="/{{.arc}}">{{.text}}</p></li>
                {{end}}
            </ul>
            {{else}}
            <h2>The End</h2>
            <ul>
                <li><a href="/">Index</p></li>
            </ul>
            {{end}}
        </div>
    </body>
</html>



